<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout.html">

<head>
	<title>Student List</title>
</head>

<!-- Content section -->

<body layout:fragment="content" class="d-flex flex-column h-100">
	<div class="text-center mb-5">
		<h1 class="fw-bolder">All Students list</h1>
	</div>
	<div class="row gx-5">
		<h1>Home Page</h1>
		<a class="btn btn-primary" th:href="@{/students/{student_id}/update(student_id=${student.student_id})}">Edit You
			Profile</a>
	</div>
</body>

</html>